.game{
    width: 500px;
    text-align: center;
    font-family: system-ui;
    color: #ffffff;
    margin: auto;
}
.title{
    background-color: blueviolet;
    padding: 15px 0px;
    border-radius: 5px;
    font-weight: 700;
}
.square{
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    float: left;
    margin: 5px;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 90px;
}
.square:hover{
    background-color: #30263a;
    border-radius: 15px;
    cursor: pointer;
    font-size: 95px;
    
}
